<p>Nuevo Cliente</p>
<form  >
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input  matInput placeholder="">
    </mat-form-field>
    <br />
    <mat-form-field >
      <mat-label>Nombre</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label>Apellido</mat-label>
        <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label>Nombre de Usuario</mat-label>
        <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label>Credito</mat-label>
        <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Crear</button>
  </form>
