<mat-drawer-container class="example-container" autosize>
    <mat-drawer-content>
        <mat-toolbar color="primary" *ngIf="(client | async) as cliente">
            <mat-label style="float: left; margin-left: 2%; margin-right: auto;">
                {{ cliente.Name }} {{ cliente.Lastname }}
            </mat-label>
            <mat-label style="margin-right: 2%;">
                Saldo: {{ cliente.Credit | currency: 'Bs.' }}
            </mat-label>
            <button mat-raised-button color="accent" (click)="signOut()">Salir</button>
        </mat-toolbar>
        <div class="example-sidenav-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>