<div>
    <mat-grid-list cols="2" rowHeight="1:1.6">
        <mat-grid-tile>
            <img mat-card-image style="width: 90%; " src={{drink.Photo}}>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 80%; height: 90%; background-color: dimgrey; text-align: center;">
                <mat-card-title>
                    {{ drink.Name }}
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-dialog-content style="align-items: center;">
                    <mat-card-subtitle style="text-align: left; margin-top: 5%;">
                        Seleccione una opción:
                    </mat-card-subtitle>
                    <mat-list *ngFor="let options of drink.AmountOptions">
                        <mat-list-item> 
                            <button style="width: 100%;" mat-raised-button color="primary">- {{ options.Amount }}ml.: {{ options.Price }}Bs. </button>
                        </mat-list-item>
                       </mat-list>
                </mat-dialog-content>
                <mat-action-list style="margin-top: 100%;">
                    <button style="width: 100%;" mat-raised-button color="warn" (click)="close()">Cancelar</button>
                </mat-action-list>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>