.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.example-sidenav {
  padding: 20px;
}

.example-sidenav-content {
  margin: 10px 10px 10px 10px;
}

.centerContent {
  margin: auto;
  width: 230px;
  padding: 10px;
}

.btnWidth{
  width: 100%;
}

@media screen and (max-width: 650px){
  .alignText{
    display: none;
  }
}