.grid-title {
  position: absolute;
  left: 5px;
}

.grid-subtitle {
  position: absolute;
  right: 5px;
}
mat-card{
  width: calc(100% - 45px);
  height: calc(100% - 40px);
  background-color: ghostwhite; 
  text-align: center;
}

img{
  width: 80%;
  height: 75%;
  background-size: cover;
}

button{
  width: 80%;
}

.text-center {
  margin-left: 0.5%;
  margin-top: 5%;
  text-align: center;
}