<div ><p>Formulario de bebidas</p> </div>

    <div><mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Nombre del producto" placeholder="">
    </mat-form-field></div>

    <div><mat-form-field class="full-width">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="Imagen del producto" placeholder="">
    </mat-form-field></div>
    
    <div><mat-form-field class="full-width">
        <mat-label>Cantidad de ml</mat-label>
        <input matInput formControlName="Cantidad del producto" placeholder="">
    </mat-form-field></div>

    <div><mat-form-field class="full-width">
        <mat-label>Costo</mat-label>
        <input matInput formControlName="Costo del producto" placeholder="">
    </mat-form-field></div>

    <div><button type="submit" mat-raised-button color="primary" class="full-width" >Aceptar</button></div>
    
    

    

    
    
