.styleButtonYes{
    float: left;
    margin: 10px 10px 10px 10px;
}

.styleButtonNo{
    float: right;
    margin: 10px 10px 10px 10px;
}

.Type{
    font-size:large;
    font-family:Helvetica;
    float:center;
}

.styleFullWidth{
    width: 100%;
}